.liquidChrome-container {
  width: 100%;
  height: 100%;
  position: relative;
}

.liquidChrome-container > canvas {
  position: absolute;
  inset: 0;
  width: 100% !important;
  height: 100% !important;
  display: block;
  /* 使用平滑渲染以获得更好的清晰度 */
  image-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


